.footer {
    display: flex;
    flex-direction: column;
    gap: 36px;

    margin: 0 -30px 40px;
    padding: 120px 30px 40px;

    background-color: var(--gray);
    color: var(--purple);

    .p_block {
        display: block;
        max-width: 490px;
        width: 100%;
    }

    .logos {
        display: flex;
        justify-content: space-between;

        .logos_izq {
            display: flex;
            gap: 20px;
        }
    }
}
