.carta_container {
    padding: 40px 30px;

    color: var(--purple);

    display: flex;
    flex-direction: column;
    gap: 60px;

    scroll-behavior: smooth;

    @media (width < 768px) {
        padding: 260px 20px 90px;
    }

    h1,
    h2 {
        text-align: center;
    }

    .text_block {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .time_stamp {
        white-space: pre-line;
    }

    .controler_audio {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);

        display: flex;
        flex-direction: column;
        gap: 12px;
        justify-content: center;

        .controler_audio_row {
            display: flex;
            gap: 8px;
        }

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 16px;
            gap: 10px;

            background-color: var(--purple);
            border-radius: 20px;
            border: none;

            cursor: pointer;

            color: var(--light-gray);

            &:hover {
                background-color: var(--light-gray);
                color: var(--purple);
            }

            @media (width < 768px) {
                padding: 24px 30px;
                border-radius: 40px;
            }
        }
    }
}
